main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    104deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(91, 0, 88, 1) 100%
  );
}
h2,
h3 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#button-container {
  display: flex;
}

button {
  margin: 20px;
  padding: 20px;
}
