.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 5px;
  width: fit-content;
  max-width: 1%;
  margin-left: 0%;
  margin-top: 0%;
  height: fit-content;
  max-height: 7%;
  background-color: aliceblue;
}
.flex-items {
  margin-left: 10px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.quest_css {
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  height: 20px;
  display: flex;

  flex-wrap: nowrap;

  align-items: flex-start;
}
.button1 {
  height: 200px;
  width: 200px;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 1;
  margin-bottom: 50px;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
}
