<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let competitor of competitors">
      <td
        (click)="selectCompetitor(competitor.id)"
        *ngIf="selected !== competitor.id"
      >
        {{ competitor.name }}
      </td>
      <input
        [(ngModel)]="newName"
        type="text"
        *ngIf="selected === competitor.id"
      />
      <td>{{ competitor.points }}</td>
      <button
        (click)="changeCompetitor(competitor.id)"
        *ngIf="selected === competitor.id"
      >
        Accept
      </button>
      <button
        (click)="changePoints(1, competitor.id)"
        *ngIf="selected !== competitor.id"
      >
        +
      </button>
      <button
        (click)="changePoints(-1, competitor.id)"
        *ngIf="selected !== competitor.id"
      >
        -
      </button>
    </tr>
    <input *ngIf="compMenuOpen" type="text" [(ngModel)]="newCompName" />
    <button *ngIf="!compMenuOpen" (click)="openCompAddMenu()">
      Add competitor
    </button>
    <button *ngIf="compMenuOpen" (click)="openCompAddMenu()">Close</button>
    <button *ngIf="compMenuOpen" (click)="addCompetitor()">Confirm</button>
  </table>
</div>
