.flex-container {
  display: flex;
}

.flex-container > button {
  background: linear-gradient(
    104deg,
    rgba(9, 9, 121, 1) 0%,
    rgb(58, 58, 58) 100%
  );

  padding: 20px;
  border-radius: 40px;
  font-size: 30px;
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.25);
  cursor: pointer;
}
