main {
  min-height: 100vh;
  background: linear-gradient(
    104deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(91, 0, 88, 1) 100%
  );
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 60% !important;
  min-width: unset !important;
  padding-top: 20em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

app-button {
  margin: 3em;
  width: 35em !important;
  min-width: unset !important;
}
