main {
  min-height: 100vh;
  background: linear-gradient(
    104deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(91, 0, 88, 1) 100%
  );
}

.button-container {
  padding-top: 20em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}

app-button {
  width: 35em !important;
  min-width: unset !important;
}
